.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

.container-login{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap :7rem;
  padding: 0 2rem;
}

.img{
  display: flex;
  justify-content: flex-end;
	align-items: center;
}
.img img{
  width: 500px;
}
.login-content{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

form{
  width: 360px;
}

.login-content img{
  height: 100px;
}

.login-content h2{
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.9rem;
}

.login-content .input-div{
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #D6DDE4;
}

.login-content .input-div.user{
  margin-top: 0;
}
.i{
  color: #D6DDE4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.i i{
  transition: .3s;
}
.input-div > div{
  position: relative;
  height: 45px;
}

.input-div > div h5{
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 18px;
  transition: .3s;
}

.input-div:before, .input-div:after{
  content: '';
  position: absolute;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #A8F0EB;
  transition: .3s;
}
.input-div:before{
  right: 50%;
}

.input-div:after{
  left: 50%;
}
.input-div.focus:before, .input-div.focus:after{
  width: 50%;
}

.input-div.focus div h5{
  top: -5px;
  font-size: 15px;
}

.input-div.focus .i i{
  color:#A8F0EB;
}

.input-div > div > .input{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  font-family: Poppins, sans-serif;
  color: #555;
}

.input-div.pass{
  margin-bottom: 4px;
}

a{
  display: block;
  text-align: right;
  text-decoration: none;
  color: #999;
  font-size: 0.9rem;
  transition: .3s;
}

a:hover{
  color: #d33838
}

.btn{
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  margin: 1rem 0;
  font-size: 1.2rem;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #32beb5a0, #38d3c9a7, #32beaea7);
  background-size: 200%;
  font-size: 1.2rem;
  color:#3F3D56;
	font-family: Poppins, sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}

.btn:hover{
	background-position: right;
}
/* Zona responsive */
@media screen and (max-width: 1050px){
	.container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	.img img{
		width: 400px;
	}
}

@media screen and (max-width: 900px){
	.container{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	.wave{
		display: none;
	}

	.login-content{
		justify-content: center;
	}
}
